 {% load static %}
<div class="layout layout--3 footer_container">
    <div class="container">
        <div class="section1">
            <h1><span>Quick Links</span></h1>
            <ul>
                <li>
                    <a href="https://kabarak.ac.ke/a-calendars">Academic Calender</a>
                </li>
                <li>
                    <a href="https://kabarak.ac.ke/online-programmes">Online Programs</a>
                </li>
                <li>
                    <a href="http://helpdesk.kabarak.ac.ke/">Helpdesk Support</a>
                </li>
                <li>
                    <a href="https://tvet.kabarak.ac.ke/">Kabarak Tvet Institute</a>
                </li>
                <li>
                    <a href="https://kabarak.ac.ke/downloads">Forms and Downloads</a>
                </li>
                <li>
                    <a href="https://kabarak.ac.ke/press">Kabarak Universit Press</a>
                </li>
            </ul>

        </div>
        <div class="section2">
            <h1><span>Student Affairs</span></h1>
            <ul>
                <li>
                    <a href="https://kabarak.ac.ke/clubs-and-association">Clubs and Association</a>
                </li>
                <li>
                    <a href="https://kabarak.ac.ke/dos">Department Spiritual and Student Affairs</a>
                </li>
                <li>
                    <a href="https://kabarak.ac.ke/sports-and-recreation">Sports and Recreation</a>
                </li>
                <li>
                    <a href="https://kabarak.ac.ke/kuso">Student Leadership</a>
                </li>
                <li>
                    <a href="https://kabarak.ac.ke/guidance-counseling">Guidance and Counselling</a>
                </li>

                <li>
                    <a href="https://web.kabarak.ac.ke/kabu4/images/downloads/students/student_handbook.pdf">Student handbook</a>
                </li>
            </ul>

        </div>
        <div class="section3">

            <img src="https://kabarak.ac.ke/images/logos/Kabarak_University_Extended_logo_910x256.png" alt="Kabarak University Extended Logo">

        </div>
    </div>

    <span class="sp_footer">Copyright © 2024, Kabarak University; "World Class Education in Biblical Perspective"</span>
</div>