{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KABU HUB </title>
    <link rel="text/css" href="{% static '/css/index.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
</head>

<body>
    {% include 'navbar.html' %} {% block content %}
    <h2>This section is left for reference on the basics of using the html css and js.</h2>
    <br>
    <h3>deploying the project to vercel doesnt also take much of the resources because its free </h3>
    {% endblock %} {% include 'footer.html' %}

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>