{% extends "index.html" %} {% block content %}

<div class="admins_page">
    <h1>The League Admins Page</h1>
    <div class="top_navbar">
        <h2>
            <a href="{% url 'change_role' %}">Add an Admin</a>
        </h2>
        <p>The available website admins are</p>
        <ul>
            {% for user in admin_group_users %}
            <li>{{user.username}}
            </li>
            {% endfor %}
        </ul>
        <hr>
    </div>
    <div>
        <h2>Add sports Admins section</h2>
        <h2>
            <a href="{% url 'add_sports_admin' %}">Add a sports Admin</a>
        </h2>
    </div>
    <p>The available sports admins are</p>
    <ul>
        {% for user in sports_admins_users %}
        <li>{{user.username}}
        </li>
        {% endfor %}
    </ul>
    <hr>
    <hr>



</div>
{% endblock %}