{% extends 'index.html' %}{% block content %}
<div class="container1">
    <div class="image-container1">

        <div class="image-wrap">
            <p> SSET</p>
            <a href="#"><img src="images/first1.jpg"></a>
            <p>
                <a href="#">The Upcoming SSET elections</a>
            </p>
        </div>

        <div class="image-wrap">
            <p> Environmental club</p>
            <a href="#"><img src="images/first2.jpg"></a>
            <p>
                <a href="#"></a>
            </p>
        </div>
        <div class="image-wrap">
            <p>School of science</p>
            <a href="#"><img src="images/first2.jpg"></a>
            <p>
                <a href="#"></a>
            </p>
        </div>


    </div>
</div>
{% endblock %}