{% extends 'index.html' %} {% block content %}
<div style="display:flex;">
    <h3 style="padding-right: 50px;"><a href="{% url 'signup' %}">Sign up</a></h3>
    <br> {% if request.user.is_authenticated %}
    <h3 style="padding-right: 50px;"><a href="{% url 'logout' %}">Log Out</a></h3>
    {% else %}
    <h3 style="padding-right: 50px;"><a href="{% url 'login' %}">Login</a></h3>

    {% endif %}
    <h3 style="padding-right: 50px;"><a href="{% url 'update_profile' %}">Update Profile</a></h3>
</div>
<div>
    <h2>
        Add Events section
    </h2>
    <a href="{% url 'add_event' %}">Add Event</a>
</div>
<div>
    <hr> {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    <hr>
    <h1>UPCOMING EVENTS</h1>
    {% for event in events %}
    <h4>Posted By: <b><a href="{% url 'user_profile' event.created_by.id %}">{{event.created_by}}</a></b></h4>
    <h2>{{event.title}}</h2>
    <img class="event_pic" src="{{event_pic.url}}" alt="" style="width: 90px;">
    <h3>{{event.description}}</h3>
    {% if request.user == event.created_by %}
    <a href="{% url 'delete_event' event.id %}">Delete Event</a> {% endif %}
    <hr> {% endfor %}
</div>

{% endblock %}