{% extends 'index.html' %}{% block content %}

<main class="layout layout--3">

    <div class="container">
        {% include 'base/schools_component.html' %}
        <div class="roomList">
            <div class="container1">


                <div class="image-container1">
                    {% for event in events %}
                    <div class="image-wrap">
                        <p> {{event.title}}</p>
                        <a href="#"><img src="{{event.imageURL}}"></a>
                        <p>
                            <!-- the a tag should redirect the user to an events page where the event is fully described -->
                            <a href="#">
                                {{event.title}}
                                <p>{{event.descriptio}}</p>
                            </a>
                        </p>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
</main>


{% endblock %}