{% extends 'index.html' %} {% block content %}
<div style="display:flex;">
    <h3 style="padding-right: 50px;"><a href="{% url 'signup' %}">Sign up</a></h3>
    <br> {% if request.user.is_authenticated %}
    <h3 style="padding-right: 50px;"><a href="{% url 'logout' %}">Log Out</a></h3>
    {% else %}
    <h3 style="padding-right: 50px;"><a href="{% url 'login' %}">Login</a></h3>

    {% endif %}
    <h3 style="padding-right: 50px;"><a href="{% url 'update_profile' %}">Update Profile</a></h3>
</div>
<div>
    <h2>
        Add Events section
    </h2>
    <a href="{% url 'add_event' %}">Add Event</a>
</div>
<div>
    Show all upcoming Events

</div>

{% endblock %}