{% extends 'index.html' %}{% block content %}
<div class="container1">
    <div class="image-container1">
        {% for event in events %}
        <div class="image-wrap">
            <p> {{event.title}}</p>
            <a href="#"><img src="images/first1.jpg"></a>
            <p>
                <!-- the a tag should redirect the user to an events page where the event is fully described -->
                <a href="#">
                    {{event.title}}
                    <p>{{event.description}}</p>
                </a>
            </p>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}