{% extends 'index.html' %} {% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
    }
    
    .sports_container {
        max-width: 600px;
        margin: 20px auto;
        /* background-color: #fff; */
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .team {
        display: flex;
        justify-content: space-between;
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
    }
    
    .team:last-child {
        border-bottom: none;
    }
    
    .team span {
        flex-basis: 16.66%;
    }
</style>

<main class="space_down">

    <div class="sports_container">
        <div class="team">
            <span>Team</span>
            <span>Points</span>
            <span>GP</span>
            <span>GD</span>
            <span>GS</span>
            <span>GA</span>
        </div>
        {% for team in teams %}
        <div class="team">
            <span>{{team.team_name}}</span>
            <span>{{team.team_points}}</span>
            <span>{{team.games_played}}</span>
            <span>{{team.goal_difference}}</span>
            <span>{{team.goals_scored}}</span>
            <span>{{team.goals_against}}</span>
        </div>
        {% endfor %}

    </div>

</main>
{% endblock %}