{% extends 'index.html' %} {% block content %} {% if page == 'signup' %}
<div>
    <h3>Create account</h3>
    <form action="" method="POST">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" value="Register">

    </form>
</div>
{% else %}
<div>
    <h3>Login to your account</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="Username">Username</label>
        <input type="text" placeholder="Username" name="username">
        <br>

        <label for="Password">Password</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login">

    </form>
</div>
{% endif %} {% endblock %}