{% include 'index.html' %} {% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>Password Reset</h3>
                </div>
            </div>
            <div class="layout__body">
                <h4 class="auth__tagline">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</h4>

                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="form__group form__group">
                        <label for="room_name">Email</label>
                        <input id="username" name="email" type="text" placeholder="e.g. abc@gmail.com" />
                    </div>
                    <button class="btn btn--main" type="submit">
                       Submit
                    </button>
                </form>

            </div>
        </div>
    </div>
</main>

{% endblock %}