{% extends 'index.html' %}{% block content %}
<p>Please enter your password twice for verification</p>
<p>Your Password Must contain atleast 8 charachters</p>

<form class="form" method="post">
    {% csrf_token %}
    <div class="form__group form__group">
        <label for="room_name">Enter Your new Password</label>
        <input id="username" name="new_password1" type="text" placeholder="e.g. abc@gmail.com" />
    </div>
    <div class="form__group form__group">
        <label for="room_name">Enter Your new Password</label>
        <input id="username" name="new_password1" type="text" placeholder="e.g. abc@gmail.com" />
    </div>
    <button class="btn btn--main" type="submit">
       Submit
    </button>
</form>

{% endblock %}